apiVersion: v1
clusters:
- cluster:
    server: https://kubernetes.docker.internal:6443
  name: foo
contexts:
- context:
    cluster: foo
    user: foo
  name: foo
current-context: foo
kind: Config
preferences: {}